[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
torch = "*"
datasets = "*"
transformers = "*"
evaluations = "*"
torchaudio = "*"
wandb = "*"
librosa = "*"
evaluate = "*"
tqdm = "*"
scikit-learn = "*"
ffmpeg-python = "*"

[dev-packages]
ipykernel = "*"
ipywidgets = "*"
scipy = "*"

[requires]
python_version = "3.10"
